.artists-quiz-round {
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;
}

.artists-quiz-header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .timer {
    margin: 0;
    color: white;
    font-family: $main-font;
    font-size: 22px;
  }
  .artists-quiz-header__icon {
    color: white;
    transition: color 0.5s;
    &:hover {
      color: $main-hover-color;
    }
  }
}

.artists-quiz-main {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  align-items: center;
  row-gap: 15px;
  .main-question {
    color: white;
    font-family: $main-font;
  }
  .main-question-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 60%;
    height: 90%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .main-answers {
    width: 60%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.answer {
  margin-top: 10px;
}

.progress {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 50px;
  width: 100%;
  column-gap: 5px;
  .progress-item {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: #c4c4c4;
  }
  .correct {
    background-color: green;
  }
}

.answer {
  color: white;
  font-family: $main-font;
  min-width: 40%;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    background-color: $main-hover-color;
    color: black;
  }
}
@media screen and (max-width: 1400px) {
  .artists-quiz-main {
    .main-question-image {
      width: 40%;
    }
  }
}

@media screen and (max-width: 800px) {
  .artists-quiz-main {
    .main-question-image {
      width: 80%;
    }
    .main-answers {
      width: 80%;
    }
  }
}

@media screen and (max-width: 530px) {
  .main-question {
    font-size: 1.3em;
  }
  .main-answers {
    font-size: 12px;
  }
}
.picture-answer {
  width: 40%;
  height: 40%;
  cursor: pointer;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.answers-pictures {
  height: 90% !important;
}
.progress-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  height: 50px;
  .progress-item {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: #c4c4c4;
  }
}
audio {
  visibility: hidden;
}
