.categories-quiz {
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;
}

.categories-header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .categories__logo {
    background-image: url("../assets/images/logo_artist_quiz.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 62px;
    width: 166px;
  }
  a {
    color: white;
    transition: color 0.5s;
    font-family: $main-font;
    text-decoration: none;
    &:hover {
      color: $main-hover-color;
    }
  }
  .categories__home-link {
    margin-left: 120px;
    font-size: 22px;
  }
  .empty-div {
    flex-grow: 1;
  }
}

.categories-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  column-gap: 40px;
}
@media screen and (max-width: 970px) {
  .categories-main__item {
    flex-wrap: wrap;
    .categories-main__item-link {
      width: 20%;
    }
  }
}

.categories-main__item-link {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: $main-font;
  transition: color 0.5s;
  width: 150px;
  height: 30%;
  margin-top: 15px;
  &:hover {
    color: $main-hover-color;
  }
  .quiz-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .quiz-test-logo-text {
      margin: 0;
    }
    .quiz-test-logo-img {
      margin-top: 15px;
      height: 100%;
      width: 100%;
    }
  }
  .repeat {
    position: absolute;
    width: 100%;
    background-color: $main-hover-color;
    bottom: -17px;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-bg-color;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.8s;
  }
}
.portrait-img,
.landscape-img,
.impressionism-img,
.expressionism-img,
.avant-garde-img,
.realism-img,
.religion-img,
.renaissance-img,
.painting-img,
.marine-img,
.surrealism-img,
.romanticism-img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}
.romanticism-img {
  background-image: url("../assets/images/quiz_image/40full.webp");
}
.surrealism-img {
  background-image: url("../assets/images/quiz_image/31full.webp");
}
.marine-img {
  background-image: url("../assets/images/quiz_image/14full.webp");
}
.painting-img {
  background-image: url("../assets/images/quiz_image/8full.webp");
}
.religion-img {
  background-image: url("../assets/images/quiz_image/2full.webp");
}
.renaissance-img {
  background-image: url("../assets/images/quiz_image/6full.webp");
}
.portrait-img {
  background-image: url("../assets/images/quiz_image/0full.webp");
}
.landscape-img {
  background-image: url("../assets/images/quiz_image/10full.webp");
}
.impressionism-img {
  background-image: url("../assets/images/quiz_image/1full.webp");
}
.expressionism-img {
  background-image: url("../assets/images/quiz_image/42full.webp");
}

.avant-garde-img {
  background-image: url("../assets/images/quiz_image/41full.webp");
}
.realism-img {
  background-image: url("../assets/images/quiz_image/39full.webp");
}
