@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;700&display=swap");

.main-page {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-page-container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: right;
  align-items: center;
  .icon-settings {
    color: white;
    transition: color 0.5s;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
      color: $main-hover-color;
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .block-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 614px;
    justify-content: center;
    .block-content__img {
      max-width: 430px;
      height: 200px;
      background-image: url("../assets/images/main-logo.png");
      background-size: 100% 100%;
    }
    .block-content__btns {
      display: flex;
      column-gap: 40px;
      height: 30%;
      a {
        display: block;
        width: 80%;
        height: 62px;
        text-decoration: none;
        font-family: $main-font;
      }
      .btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        transition: background-color 0.5s;
        &:hover {
          background-color: $main-hover-color;
          color: black;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: right;
  align-items: center;
  .dev-name {
    color: white;
    font-family: $main-font;
    font-weight: 700;
    margin-right: 15px;
  }
}

@media screen and (max-width: 440px) {
  .block-content__img {
    height: 150px;
  }
  .block-content__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    a {
      width: 80%;
    }
  }
}
